@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clip-leaf {
  clip-path: path('M0,40 Q40,0 80,40 T160,40 Q120,80 80,40 T0,40 Z');
}